################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Media.Database/bin/Debug/net10.0
/Media.Database/obj
/.vs/Media.Database/CopilotIndices/18.8.1096.64007
/.vs/Media.Database.slnx
/.vs/CopilotSnapshots/D45D3684A1721544B3A9C00AD81E32C8/1F9607A9D78D8345AFB2951C2CE2DA43
/.vs/CopilotSnapshots/D45D3684A1721544B3A9C00AD81E32C8
/.vs/Media.Database/CopilotIndices/18.8.1106.51376
/tests/Media.Database.Tests/obj
/.vs/Media.Database/CopilotIndices/17.14.1091.29919/CodeChunks.db
/.vs/Media.Database/CopilotIndices/17.14.1091.29919
/.vs/ProjectEvaluation
/tests/Media.Database.Tests/bin/Debug/net10.0
/.vs/CopilotSnapshots/A92A9EAB1DBE884E881E6EB521B76F79
/.vs/Media.Database/CopilotIndices/18.9.1306.19527
/.vs/CopilotSnapshots/286FEC69DDCD2F438CEAED89DEC4A077
/.vs/CopilotSnapshots/41D6475742395047BBA34BAFFCF70AC4
/.vs/CopilotSnapshots
